<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplicationHandler</servlet-name>
        <servlet-class>Application.ApplicationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataIO</servlet-name>
        <servlet-class>Data.DataIO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>UserApp.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>DataIO.Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationDao</servlet-name>
        <servlet-class>Dao.ApplicationDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DB.DBConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationHandler</servlet-name>
        <url-pattern>/ApplicationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataIO</servlet-name>
        <url-pattern>/DataIO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationDao</servlet-name>
        <url-pattern>/ApplicationDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
